<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/main-menu']"></ion-back-button>
    </ion-buttons>
    <ion-title>acguanacaste</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <!--<ion-title>Lugares para turistear</ion-title>-->
    <ion-searchbar placeholder="Buscar por nombre" [(ngModel)]="Filter" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list class="lista">
    <ion-item ngDefaultControl *ngFor="let item of lugares | filter:Filter">
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>
  
  <!-- fab placed to the bottom start -->
  <!---<ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>--->
</ion-content>