<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/main-menu']"> </ion-back-button>
    </ion-buttons>

    <ion-title>acguanacaste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar por nombre" [(ngModel)]="Filter" animated="true">
    <ion-button id="trigger-button" slot="end">
      <ion-icon slot="icon-only" name="options"></ion-icon>
    </ion-button>
  </ion-searchbar>

  <ion-popover trigger="trigger-button"> 
    <ng-template>
      <ion-content>
        <ion-label>Filtros</ion-label>
        
        <ion-list>
          <ion-radio-group (ionChange)="this.onFilter($event)">
            <ion-list-header>
              <ion-label>Nivel de dificultad</ion-label>
            </ion-list-header>
            
            <ion-item *ngFor="let diff of difficulties" >
              <ion-label>{{diff.name}}</ion-label>
              <ion-radio slot="start" name="{{diff.name}}" value="{{diff.name}},diff"></ion-radio>
            </ion-item>
            
            <ion-list-header>
              <ion-label>Tipo de actividad</ion-label>
            </ion-list-header>
            
            <ion-item *ngFor="let type of activity_types">
              <ion-label>{{type.name}}</ion-label>
              <ion-radio slot="start" name="{{type.name}}" value="{{type.name}},tipo"></ion-radio>
            </ion-item>
          
            <ion-list-header>
              <ion-label>Accesibilidad</ion-label>
            </ion-list-header>
            
            <ion-item *ngFor="let access of accessibilities">
              <ion-label>{{access.name}}</ion-label>
              <ion-radio slot="start" name="{{access.name}}" value="{{access.name}},acc"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-grid>
    <ion-row *ngFor="let row of grid">
      <ion-col width-50 *ngFor="let item of row | filter:Filter">
        <ion-card button (click)="sendActivity(item)">
          <ion-card-header>
            <img [src]="item.activity_images[0].url">
            <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['/main-menu']">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>