<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/main-menu']"> </ion-back-button>
    </ion-buttons>
    <ion-title>acguanacaste</ion-title>
  </ion-toolbar>
  <!---<ion-toolbar>
    <ion-title>Lugares para turistear</ion-title>
    
  </ion-toolbar>-->
</ion-header>

<ion-content fullscreen>
  <ion-searchbar placeholder="Buscar por nombre" [(ngModel)]="Filter" animated="true">
    <ion-button id="trigger-button" slot="end">
      <ion-icon slot="end" name="options"></ion-icon>
    </ion-button>
  </ion-searchbar>

  <ion-popover id="filter" trigger="trigger-button">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-radio-group allow-empty-selection="true" name="Categorias" (ionChange)="this.onFilter($event)">
            <ion-list-header>
              <ion-label>Filtros</ion-label>
            </ion-list-header>
            
            <ion-item>
              <ion-label>Parque Nacional</ion-label>
              <ion-radio slot="start" value="parque nacional"></ion-radio>
            </ion-item>

            <ion-item >
              <ion-label>Refugio de Vida Silvestre</ion-label>
              <ion-radio slot="start" value="refugio de vida silvestre" ></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-list class="lista">
    <ion-item style="--ion-border-color: black" ngDefaultControl 
    *ngFor="let item of lugares | filter:Filter" detail>
      <!---<ion-label color="primary" [routerLink]="['/place-detail']" [state]="{id: item.id}">{{item.name}}</ion-label>-->
      <ion-label color="primary" (click)="sendTouristicArea(item.id)">{{item.name}}</ion-label>
    </ion-item>
  </ion-list>
  
  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['/main-menu']">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>