<app-toolbar></app-toolbar>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-back-button Url="/dashboard">
          Lugares para turistear
        </app-back-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-searchbar [(ngModel)]="this.Filter" (keydown.enter)="onSearch()" (ionClear)="this.onClearSearch()"
          placeholder="Buscar por nombre" color="secondary">
        </ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-button class="filter" id="filter-button">
          <ion-icon name="options"></ion-icon>
        </ion-button>

        <ion-popover id="filter" trigger="filter-button">
          <ng-template>
            <ion-list>
              <ion-radio-group [value]="this.Type" allow-empty-selection="true" name="Categorias" (ionChange)="this.onClickFilter($event)">
                <ion-list-header>
                  <ion-label color="primary" class=" filter-title">Filtros</ion-label>
                </ion-list-header>

                <ion-item lines="none" *ngFor="let type of this.Types" >
                  <ion-label color="primary"> {{ type.name }}</ion-label>
                  <ion-radio slot="start" [value]="type.id"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>

          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size="6" *ngFor="let place of this.Places">
        <div class="w-100 item" id="touristicArea" (click)="this.sendTouristicArea(place.id)">
          <img class="w-100 h-100 image" [src]="place.touristic_area_images[0]?.url | image" />

          <div class="title rounded-bottom">
            <ion-text color="light" class="ion-text-center">
              <h6 class="title-text">{{place.name}}</h6>
            </ion-text>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>