<app-toolbar></app-toolbar>

<ion-content scrollEvents="true">
  <app-back-button Url="/dashboard" size="small">
    Volver
  </app-back-button>

  <form [formGroup]="updateForm" (submit)="this.onSubmit(updateForm.value)">

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input placeholder="{{this.User.name}}" formControlName="name" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input placeholder="{{this.User.email}}" formControlName="email" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="stacked">Nueva o vieja contraseña<strong style="color: red;">*</strong></ion-label>
          <ion-input placeholder="Contraseña" formControlName="password" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button class="btn" type="submit" expand="block">
          Editar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>