<app-toolbar></app-toolbar>

<ion-content scrollEvents="true">
  <app-back-button Url="/login" size="small">
    Volver
  </app-back-button>

  <form [formGroup]="registerForm" (submit)="this.onSubmit(registerForm.value)">

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">
            Nombre<strong style="color: red;">*</strong>
          </ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">
            Correo<strong style="color: red;">*</strong>
          </ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">
            Contraseña<strong style="color: red;">*</strong>
          </ion-label>
          <ion-input formControlName="password" type="password" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="btn" [disabled]="this.registerForm.invalid" type="submit" expand="block">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>