<app-toolbar></app-toolbar>

<ion-content scrollEvents="true" *ngIf="!this.Loading">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-back-button Url="/activities">
          Volver
        </app-back-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="w-100">
          <img class="w-100 h-100 image" [src]="this.Activity.activity_images[0]?.url | image">
          <div class="overlay ion-text-center">
            <ion-text color="light" class="ion-text-center ">
              <h6 class="overlay-text">{{ this.Activity.name }}</h6>
            </ion-text>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="text-body">
        <ion-text color="primary" >
          <p [innerHTML]="this.Activity.description">

          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h5 class="strong m-0">¿Cómo llegar?</h5>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text color="primary" class="text-body">
          <p class="">
            {{ this.Activity.direction }}
          </p>  
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h5 class="strong m-0">¿Qué necesitas saber?</h5>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text color="primary" class="text-body">
          <p class="" [innerHTML]="this.Activity.requirement">
            
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h5 class="strong m-0">Galería</h5>

        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-slides>
          <ion-slide class="slide" *ngFor="let image of this.Activity.touristic_area_images">
            <img class=" rounded" [src]="image.url | image" />
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h5 class="strong m-0">Cometarios</h5>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center" *ngIf="ShowComments">
      <ion-col size="10">
        <ion-textarea [(ngModel)]="this.Comment" (keyup.enter)="send()" class="comment-input rounded" color="primary" type="text" placeholder="Comentario...">

        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="send()" color="primary" class="ion-text-center">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list >
          <ion-item *ngFor="let comment of this.Comments">
            <div>
              <ion-text color="primary">
                <h6 class="strong">
                  {{ comment.user.name }}.
                  <small>
                    {{comment.createdAt | date}}
                  </small>
                </h6>
              </ion-text>
              <ion-text color="primary">
                <p>
                  {{ comment.comment }}
                </p>
                
              </ion-text>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>