<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="this.presentActionSheet()">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>AC Guanacaste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>
  <ion-item (click)="this.goPlaces()">
    <img src="../../../assets/idilico.png">
    <ion-label class="l1">
      <H2>Lugares para turistear</H2>
    </ion-label>
  </ion-item>

  <ion-item (click)="this.goActivities()">
    <img src="../../../assets/canopy.jpg">
    <ion-label class="l2">
      <H2>Actividades</H2>
    </ion-label>
  </ion-item>

</ion-content>