<app-toolbar></app-toolbar>

<ion-content scrollEvents="true">
  <app-back-button Url="/dashboard" size="small">
    Volver
  </app-back-button>

  <form [formGroup]="userForm" (submit)="this.onSubmit(userForm.value)">
    <ion-row>
      <ion-col>
        <h1>¡Bienvenido!</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">
            Correo<strong style="color: red;">*</strong>
          </ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">
            Contraseña<strong style="color: red;">*</strong>
          </ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="btn" [disabled]="this.userForm.invalid" type="submit" expand="block">Iniciar sesión</ion-button>
        <a [routerLink]="['/register']" class="small-text">¿Aún no tienes cuenta?</a>
      </ion-col>
    </ion-row>
  </form>

</ion-content>